.footer {
    position: absolute;
    right: 0;
    bottom: 0;
    left: 0;
    padding: 1rem;
    margin:.25rem;
    background-color: rgba(0,0,0,.35);
    text-align: center;
    color: white;
    font-size: 70% !important;
    display: inline-block;
    clear: both;
    z-index: 1000;
    vertical-align: top !important;
}
.footer-conference {
    font-size: 100%;
    min-width: 30%;
    text-align: left;
    display: inline-block;
    padding-left:2%;
}
.footer-company {
    min-width: 30%;
    text-align: center;
    display: inline-block;
    font-size: 100%;
    padding:auto;
}
.footer-info {
    text-align: right;
    min-width: 30%;
    display: inline-block;
    padding-right:2%;
    font-size: 100%;
}

.footer img {
    height: 40px;
    vertical-align:sub;
}
