<!doctype html>
<html lang="en">
	<head>
    <meta charset="utf-8">

    <title>The Flexibility of Drupal 8</title>
    <meta name="author" content="Mike Miles">
    <meta name="description" content="The Flexibility of Drupal 8">

    <meta name="apple-mobile-web-app-capable" content="yes" />
    <meta name="apple-mobile-web-app-status-bar-style" content="black-translucent" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no, minimal-ui">

		<link rel="stylesheet" href="css/reveal.css">
		<link rel="stylesheet" href="css/theme/black.css">

		<!-- Theme used for syntax highlighting of code -->
		<link rel="stylesheet" href="lib/css/zenburn.css">

		<!-- Printing and PDF exports -->
		<script>
			var link = document.createElement( 'link' );
			link.rel = 'stylesheet';
			link.type = 'text/css';
			link.href = window.location.search.match( /print-pdf/gi ) ? 'css/print/pdf.css' : 'css/print/paper.css';
			document.getElementsByTagName( 'head' )[0].appendChild( link );
		</script>
	</head>
	<body>
		<div class="reveal">
			<div class="slides">
        <!-- Title & About //-->
				<section>
          <section>
            <h1>The Flexibility of Drupal 8</h1>
            <p><a href="//www.nyccamp.org/session/flexibility-drupal-8" target="_blank">nyccamp.org/node/1279</a></p>
            <h3>NYCCamp 2016</h3>
          </section>
          <section data-transition="convex">
            <h2>Mike Miles</h2>
            <p>Genuine (<a href="//wearegenuine.com" target="_blank">wearegenuine.com</a>)</p>
            <p>All the internet places: <a href="//twitter.com/mikemiles86" target="_blank">mikemiles86</a></p>
            <aside class="notes">
              <ul>
                <li>You and your exp.</li>
                <li>Who is Genuine & depts.</li>
                <li>UX, Des, Strat, Dev. CHI, NYC, BOS, SF</li>
              </ul>
            </aside>
          </section>
        </section>
        <!-- Body //-->
        <section>
          <section data-background-image="images/taffy_pull.gif">
            <h2>What is Flexibility?</h2>
            <aside class="notes">
              <ul>
                <li>engineering def.</li>
                <li>Jim Brown, 1984</li>
                <li>
                  <p>many deffinitions</p>
                  <p>in engineering what it means</p>
                  <p>many different types of flex</p>
                  <p>"Classification of flexible manufacturing systems - Jim Brown. 1984</p>
                  https://deepblue.lib.umich.edu/bitstream/handle/2027.42/35438/b1407223.0001.001.txt?sequence=1&isAllowed=y
                </li>
              </ul>
            </aside>
          </section>
          <section>
            <h3>What makes Drupal Flexible</h3>
            <aside class="notes">
              <p>Drupal: operational flex, expansion flexibility, market flex</p>
            </aside>
          </section>
          <section>
            <h3>Three Areas of Manipulation</h3>
            <ul>
              <li class="fragment">The Interface</li>
              <li class="fragment">Display Layer</li>
              <li class="fragment">Data/System Layer</li>
            </ul>
          </section>
        </section>
        <section>
          <section>
            <h2>The Demo</h2>
          </section>
          <section data-background-image="images/before.png" data-background-size="100%" data-background-position="top">
            <h3>The Before</h3>
          </section>
          <section data-background-image="images/after.png" data-background-size="100%" data-background-position="top">
            <h3>The After</h3>
          </section>
        </section>
        <section>
          <section data-background-image="images/buttons-to-push.jpg" data-background-size="100%" data-background-position="middle" data-credit="http://www.publicdomainpictures.net/view-image.php?image=91272&picture=buttons-to-push">
            <h3>#1 Drupal Core</h3>
            <p class="caption">Generally requires less technical/Drupal knowledge. But flexiblity is limited. The "push buttons" method</p>
          </section>
          <section>
            <img data-src="images/1_core.gif" />
          </section>
          <section data-background-image="images/1_core_result_highlight.png">
          </section>
          <section data-background-image="images/1_core_result_blur.png">
            <ul>
              <li class="fragment">Requires little techincal knowledge.</li>
              <li class="fragment">Allows for "quick" changes.</li>
              <li class="fragment">Very limited changes.</li>
            </ul>
          </section>
        </section>
        <section>
          <section data-background-image="images/floppy-disks.jpg" data-background-size="100%" data-background-position="middle" data-credit="http://www.publicdomainpictures.net/view-image.php?image=14549&picture=floppy-disks">
            <h3>#2 Modules</h3>
            <p class="caption">Extends Drupal core and there are plenty of contrib modules available. If can't find one, build one (if have development knowledge). Requires more maintence.</p>
          </section>
          <section>
            <img data-src="images/2_modules_1_module.png" />
          </section>
          <section>
            <img data-src="images/2_modules_2_drush.gif" />
          </section>
          <section>
            <img data-src="images/2_modules_3_configure.gif" />
          </section>
          <section>
            <img data-src="images/2_modules_3_configure.png" />
          </section>
          <section>
            <pre><code class="yaml line-numbers" data-trim data-highlight-lines="11-13">
              attributes:
  class:
    label: ''
    description: ''
  target:
    label: ''
    description: ''
    options:
      _blank: 'New window (_blank)'
      _self: 'Same window (_self)'
  style:
    label: ''
    description: ''
_core:
  default_config_hash: 9nRDOclwSlz2Os9mJXM1LXNbV2q-bADV0zipiWPXymk

            </code></pre>
          </section>
          <section>
            <img data-src="images/2_modules_4_alter.gif" />
          </section>
          <section data-background-image="images/2_modules_result_highlight.png">
          </section>
          <section data-background-image="images/2_modules_result_blur.png">
            <ul>
              <li class="fragment">May Require some technical knowledge</li>
              <li class="fragment">Extends Core abilities</li>
              <li class="fragment">Requires long term maintence</li>
            </ul>
          </section>
        </section>
        <section>
          <section data-background-image="images/grass.jpg" data-credit="https://pixabay.com/en/grass-green-nature-plant-meadow-534873/" data-background-size="100%" data-background-position="middle">
            <h3>#3 Twig</h3>
            <p class="caption">Almost everything in Drupal is templated and HTML can be altered. Requires the use of a custom theme.</p>
          </section>
          <section>
            <img data-src="images/3_twig_1_inspect.png" />
          </section>
          <section>
            <pre><code class="html line-numbers" data-trim data-highlight-lines="3-5,7,11">
               &lt;!-- THEME DEBUG -->
<!-- THEME HOOK: 'menu__main' -->
<!-- FILE NAME SUGGESTIONS:
   * menu--main.html.twig
   x menu.html.twig
-->
<!-- BEGIN OUTPUT from 'core/themes/classy/templates/navigation/menu.html.twig' -->
<ul class="clearfix menu">
<!-- // ... -->
  <li class="menu-item">
    <a href="/node/3" data-drupal-link-system-path="node/3">Twig</a>
  </li>
<!-- // ... -->
</ul>
&lt;!-- END OUTPUT from 'core/themes/classy/templates/navigation/menu.html.twig'
            </code></pre>
          </section>
          <section>
            <img data-src="images/3_twig_2_theme_files.png" />
          </section>
          <section>
            <pre><code class="twig line-numbers" data-trim data-highlight-lines="7-12">
{# ... #}
  {% if items %}
    {# ... #}
    {% for item in items %}
      {# ... #}
      &lt;li{{ item.attributes.addClass(classes) }}>
        {% if item.title == 'Twig' %}
          {% set style = 'background:#0F0;color:#F00' %}
          {{ link(item.title ~ ' Alt', item.url, { 'style': style }) }}
        {% else %}
          {{ link(item.title, item.url) }}
        {% endif %}
        {# ... #}
      &lt;/li>
    {% endfor %}
    &lt;/ul>
  {% endif %}
            </code></pre>
          </section>
          <section>
            <img data-src="images/3_twig_3_enable_theme.gif" />
          </section>
          <section data-background-image="images/3_twig_result_highlight.png">
          </section>
          <section data-background-image="images/3_twig_result_blur.png">
            <ul>
              <li class="fragment">Almost everything in Drupal is templated</li>
              <li class="fragment">Make changes by altering HTML/Twig</li>
              <li class="fragment">Requires a custom theme</li>
            </ul>
          </section>
        </section>
        <section>
          <section data-background-image="images/crayons.jpg" data-credit="https://pixabay.com/en/crayons-colors-school-drawing-879974/" data-background-size="100%" data-background-position="middle">
            <h3>#4 CSS</h3>
            <p class="caption">Ability to target display of specific elements. Requires creating a library in a custom theme or module.</p>
          </section>
          <section>
            <img data-src="images/4_css_1_files.png" />
          </section>
          <section>
            <pre><code class="css line-numbers" data-trim>
.menu--main .menu li:nth-child(4) a {
    background: #0000FF;
    color: #FFF;
}
            </code></pre>
          </section>
          <section>
            <pre><code class="yml line-numbers" data-trim>
              menu-alter:
  version: VERSION
  css:
    component:
      css/menu_alter.css: {}
            </code></pre>
          </section>
          <section>
            <pre><code class="yml line-numbers" data-trim data-highlight-lines="8,9">
              name: Flex Theme
type: theme
description: An theme to demo the flexibility of Drupal 8.
package: Core
version: VERSION
core: 8.x
base theme: bartik
libraries:
   - flex_theme/menu-alter
            </code></pre>
          </section>
          <section data-background-image="images/4_css_result_highlight.png">
          </section>
          <section data-background-image="images/4_css_result_blur.png">
            <ul>
              <li class="fragment">Target specific page items</li>
              <li class="fragment">Add using a theme or module</li>
              <li class="fragment">Can only effect display</li>
            </ul>
          </section>
        </section>
        <section>
          <section data-background-image="images/clapperboard.jpg" data-credit="modified;https://en.wikipedia.org/wiki/Clapperboard#/media/File:Clapperboard,_O2_film,_September_2008.jpg" data-background-size="100%" data-background-position="middle">
            <h3>#5 JavaScript</h3>
            <p class="caption">Make changes based on user actions. Requires creating a library with a custom theme or module. Is dependent on user browser.</p>
          </section>
          <section>
            <img data-src="images/5_javascript_1_files.png" />
          </section>
          <section>
            <pre><code class="js line-numbers" data-trim data-highlight-lines="6-11">
              (function ($, Drupal) {
  "use strict";
  Drupal.behaviors.flexThemeMenuAlterMain = {
    attach: function (context) {
      $('.menu--main ul.menu li a').each(function(){
        if ($(this).attr('href') == '/node/5') {
          $(this).addClass('yellow-menu');
          $(this).attr('style', 'color: #000;');
          $(this).attr('target', '_blank');
          $(this).text($(this).text() + Drupal.t(' Alt'));
        }
      });
    }
  }
})(jQuery, Drupal);
            </code></pre>
          </section>
          <section>
            <pre><code class="css line-numbers" data-trim>
              .yellow-menu {
    background: #FFFF00;
}
            </code></pre>
          </section>
          <section>
            <pre><code class="yml line-numbers" data-trim data-highlight-lines="6-16">
              menu-alter:
  version: VERSION
  css:
    component:
      css/menu_alter.css: {}
menu-alter-main:
  version: VERSION
  css:
    component:
      css/menu_alter_main.css: {}
  js:
    js/menu_alter_main.js: {}
  dependencies:
    - core/jquery
    - core/jquery.once
    - core/drupal
            </code></pre>
          </section>
          <section>
            <pre><code class="twig line-numbers" data-trim data-highlight-lines="1">
{{ attach_library('flex_theme/menu-alter-main') }}
{# ... #}
  {% if items %}
    {# ... #}
    {% for item in items %}
      {# ... #}
      &lt;li{{ item.attributes.addClass(classes) }}>
        {% if item.title == 'Twig' %}
          {% set style = 'background:#0F0;color:#F00' %}
          {{ link(item.title ~ ' Alt', item.url, { 'style': style }) }}
        {% else %}
          {{ link(item.title, item.url) }}
        {% endif %}
        {# ... #}
            </code></pre>
          </section>
          <section data-background-image="images/5_javascript_result_highlight.png" >
          </section>
          <section data-background-image="images/5_javascript_result_blur.png" >
            <ul>
              <li class="fragment">Can make changes based on actions</li>
              <li class="fragment">Control inclusion with a library</li>
              <li class="fragment">Browser dependent</li>
            </ul>
          </section>
        </section>
        <section>
          <section data-background-image="images/hook.png" data-credit="https://commons.wikimedia.org/wiki/File:Captain_Hook.PNG" data-background-size="100%" data-background-position="middle">
            <h3>#6 Hooks</h3>
            <p class="caption">Change data to/from the server. Requires knowledge of Drupal process, php and a custom theme or module.</p>
          </section>
          <section>
            <img data-src="images/6_hooks_1_inspect.png" />
          </section>
          <section>
            <pre><code class="html line-numbers" data-trim data-highlight-lines="2">
              &lt;!-- THEME DEBUG -->
<!-- THEME HOOK: 'menu__main' -->
<!-- FILE NAME SUGGESTIONS:
   X menu--main.html.twig
   X menu--main.html.twig
   * menu.html.twig
-->
<!-- BEGIN OUTPUT from 'themes/flex_theme/templates/menu--main.html.twig' -->
<ul class="clearfix menu">
<!-- // ... -->
</ul>
&lt;!-- END OUTPUT from 'themes/flex_theme/templates/menu--main.html.twig'
            </code></pre>
          </section>
          <section>
            <img data-src="images/6_hooks_2_files.png" />
          </section>
          <section>
            <pre><code class="php line-numbers" data-trim data-highlight-lines="6-15">
              // Implements hook_preprocess_HOOK().
function flex_module_preprocess_menu__main(&$variables) {
  // Loop through all menu tabs.
  foreach ($variables['items'] as &$menu_tab) {
    // Current tab pointing to node/6 ?
    if ($menu_tab['url']->toString() == '/node/6') {
      // Alter Title
      $menu_tab['title'] .= ' Alt';
      // Existing attributes?
      $attributes = $menu_tab['url']->getOption('attributes');
      // Add custom styling.
      $attributes['style'] .= 'color:#FFF;background:#F00;';
      // Add back modified attributes.
      $menu_tab['url']->setOption('attributes', $attributes);
    }
  }
}
            </code></pre>
          </section>
          <section>
            <img data-src="images/6_hooks_3_enable.gif" />
          </section>
          <section data-background-image="images/6_hooks_result_highlight.png">
          </section>
          <section data-background-image="images/6_hooks_result_blur.png">
            <ul>
              <li class="fragment">Provided by Drupal core and modules</li>
              <li class="fragment">Can be invoked by custom theme or module</li>
              <li class="fragment">Requires PHP skillset</li>
            </ul>
          </section>
        </section>
        <section>
          <section data-background-image="images/racecar.gif" data-credit="http://cheezburger.com/8361556992" data-background-size="100%" data-background-position="middle">
            <h3>#7 Services</h3>
            <p class="caption">Ability to replace core systems, without hacking core. Requires a custom module, Object Oriented PHP skillset and deep knowledge of Drupal. More long term maintence and security concerns.</p>
          </section>
          <section>
            <img data-src="images/7_services_1_files.png" />
          </section>
          <section>
            <pre><code class="php line-numbers" data-trim data-highlight-lines="6,10,12,13">
              namespace Drupal\flex_module;

use Drupal\Core\DependencyInjection\ServiceProviderBase;
use Drupal\Core\DependencyInjection\ContainerBuilder;

class FlexModuleServiceProvider extends ServiceProviderBase {
  /**
   * {@inheritdoc}
   */
  public function alter(ContainerBuilder $container) {
    // Override menu_link_tree class with custom.
    $definition = $container->getDefinition('menu.link_tree');
    $definition->setClass('Drupal\flex_module\FlexModuleMenuLinkTree');
  }
}
            </code></pre>
          </section>
          <section>
            <pre><code class="php line-numbers" data-trim data-highlight-lines="4,6-11,13-19">
              namespace Drupal\flex_module;
use Drupal\Core\Menu\MenuLinkTree;

class FlexModuleMenuLinkTree extends MenuLinkTree {
  // Overrides \Drupal\Core\Menu\MenuLinkTree::build().
  public function build(array $tree) {
    $build = parent::build($tree);
    if (isset($build['#items']) && $build['#theme'] == 'menu__main') {
      $n = 0;
      foreach ($build['#items'] as &$item ) {
        if (++$n == 8) {
          // Change Title, path and add styling.
          $item['title'] .= ' Alt';
          $item['url']->setOption('attributes', array(
            'style' => 'color:#00F;background:#FFA500;',
          ));
        }
      }
    }
    return $build;
  }
}
            </code></pre>
          </section>
          <section data-background-image="images/7_services_result_highlight.png" >
          </section>
          <section data-background-image="images/7_services_result_blur.png" >
            <ul>
              <li class="fragment">Ability to control core systems</li>
              <li class="fragment">Require custom module</li>
              <li class="fragment">Require advance OOP PHP skillset</li>
            </ul>
          </section>
        </section>
        <section>
          <section data-background-image="images/planet.gif" data-credit="http://gifsoup.com/view/4515088/captain-planet-powers-combined.html" data-background-size="100%" data-background-position="middle">
            <h3>#8 Combinations</h3>
            <p class="caption">Real world scenario, a combination of multiple methods. Requires multiple skillsets, but provides most control over Drupal.</p>
          </section>
          <section>
            <pre><code class="php line-numbers" data-trim data-highlight-lines="12-14">
              namespace Drupal\flex_module;
use Drupal\Core\Menu\MenuLinkTree;

class FlexModuleMenuLinkTree extends MenuLinkTree {
  // Overrides \Drupal\Core\Menu\MenuLinkTree::build().
  public function build(array $tree) {
    $build = parent::build($tree);
    if (isset($build['#items']) && $build['#theme'] == 'menu__main') {
      $n = 0;
      foreach ($build['#items'] as &$item ) {
        // ...
        if ($item['url']->toString() == '/node/8') {
          $item['title'] .= ' Alt';
        }
      }
    }
    return $build;
  }
}
            </code></pre>
          </section>
          <section>
            <pre><code class="php line-numbers" data-trim data-highlight-lines="3,4,11">
              // Implements hook_preprocess_HOOK().
function flex_module_preprocess_menu__main(&$variables) {
  $size = count($variables['items']);
  $m = 1;
  // Loop through all menu tabs.
  foreach ($variables['items'] as &$menu_tab) {
    // Current tab pointing to node/6 ?
    if ($menu_tab['url']->toString() == '/node/6') {
      // ...
    }
    $menu_tab['is_combo'] = ($m++ == $size);
  }
}
            </code></pre>
          </section>
          <section>
            <pre><code class="js line-numbers" data-trim data-highlight-lines="7-9  ">
              (function ($, Drupal) {
  "use strict";
  Drupal.behaviors.flexThemeMenuAlterMain = {
    attach: function (context) {
      $('.menu--main ul.menu li a').each(function(){
        // ...
        if ($(this).data('combo') == 1) {
          $(this).addClass('combo-item');
        }
      });
    }
  }
})(jQuery, Drupal);
            </code></pre>
          </section>
          <section>
            <pre><code class="css line-numbers" data-trim>
              .menu--main .menu li a.combo-item {
    color: #000;
    font-weight: 800;
    text-shadow: 0 0 #000 !important;
    background: red; /* not working, let's see some red */
    background: -moz-linear-gradient( top ,
    rgba(255, 0, 0, 1) 0%,
    rgba(255, 255, 0, 1) 15%,
    rgba(0, 255, 0, 1) 30%,
    rgba(0, 255, 255, 1) 50%,
    rgba(0, 0, 255, 1) 65%,
    rgba(255, 0, 255, 1) 80%,
    rgba(255, 0, 0, 1) 100%);
    background: -webkit-gradient(linear,  left top,  left bottom,
    color-stop(0%, rgba(255, 0, 0, 1)),
    color-stop(15%, rgba(255, 255, 0, 1)),
    color-stop(30%, rgba(0, 255, 0, 1)),
    color-stop(50%, rgba(0, 255, 255, 1)),
    color-stop(65%, rgba(0, 0, 255, 1)),
    color-stop(80%, rgba(255, 0, 255, 1)),
    color-stop(100%, rgba(255, 0, 0, 1)));
}
            </code></pre>
          </section>
          <section>
            <pre><code class="twig line-numbers" data-trim data-highlight-lines="8-12">
               &lt;ul class="menu">
{% endif %}
{% for item in items %}
  {# ... #}
  &lt;li{{ item.attributes.addClass(classes) }}>
    {% if item.title == 'Twig' %}
      {# ... #}
    {% elseif item.is_combo %}
        {{ link(item.title | reverse, item.url) }}
    {% else %}
      {{ link(item.title, item.url) }}
    {% endif %}
    {# ... #}
  &lt/li>
{% endfor %}
&lt;/ul>
            </code></pre>
          </section>
          <section>
            <pre><code class="twig line-numbers" data-trim data-highlight-lines="14-19">
              attributes:
  class:
    label: ''
    description: ''
  target:
    label: ''
    description: ''
    options:
      _blank: 'New window (_blank)'
      _self: 'Same window (_self)'
  style:
    label: ''
    description: ''
  data-combo:
    label: 'Combo Item'
    description: 'Is this a combo menu item?'
    options:
      0: 'No'
      1: 'Yes'
_core:
  default_config_hash: 9nRDOclwSlz2Os9mJXM1LXNbV2q-bADV0zipiWPXymk
            </code></pre>
          </section>
          <section>
            <img data-src="images/8_combo_1_attribute.gif" />
          </section>
          <section data-background-image="images/8_combo_result_highlight.png">
          </section>
          <section data-background-image="images/8_combo_result_blur.png">
            <ul>
              <li class="fragment">Real world scenario</li>
              <li class="fragment">Ultimate control over Drupal</li>
              <li class="fragment">Utilize available skillsets</li>
            </ul>
          </section>
        </section>
        <section>
          <section>
            <h2>What did we Prove?</h2>
            <p class="fragment">Drupal is flexible</p>
          </section>
          <section>
            <h2>What does this Mean?</h2>
            <p class="fragment">When client asks <em>"Can Drupal do X?"</em></p>
            <p class="fragment"><strong>YES! </strong><span class="fragment">if...</span></p>
          </section>
        </section>
        <!-- Resources, Feedback & Thanks //-->
        <section>
          <section>
            <h2>Resources</h2>
            <p>My Blog: <a href="//mike-miles.com" target="_blank" alt="Mike Miles Blog">mike-miles.com</a></p>
          </section>
          <section data-transition="convex">
            <h1>Feedback</h1>
            <h3><a href="http://www.twitter.com/mikemiles86">@mikemiles86</a></h3>
            <h3 data-set-aside data-skip-print>[Conference Tag]</h3>
          </section>
        </section>
        <section>
          <h1>Thank You!</h1>
          <p data-set-aside data-skip-print>Questions?</p>
        </section>
			</div>
      <div class="footer">
        <span class="footer-conference">
          Drupalcon
        </span>
        <span class="footer-company">
          Genuine
        </span>
        <span class="footer-info">
          Mike / Mike
        </span>
      </div>
    </div>

		<script src="lib/js/head.min.js"></script>
		<script src="js/reveal.js"></script>

		<script>
			// More info https://github.com/hakimel/reveal.js#configuration
			Reveal.initialize({
				history: true,
        controls: true,
        progress: true,
        transition: 'slide',

				// More info https://github.com/hakimel/reveal.js#dependencies
				dependencies: [
					{ src: 'plugin/markdown/marked.js' },
          { src: 'plugin/zoom-js/zoom.js', async: true },
					{ src: 'plugin/notes/notes.js', async: true },
					{ src: 'plugin/highlight/highlight.js', async: true, callback: function() { hljs.initHighlightingOnLoad(); } },
          // Custom plugins.
          { src: 'plugin/line-numbers/line-numbers.js', async: false },
          { src: 'plugin/set-aside/set-aside.js', async: false },
          { src: 'plugin/gif-reloader/gif-reloader.js', async: false}
				]
			});
		</script>
	</body>
</html>
